h1 {
    color: white;
}

.container {
    border: 2px dotted hotpink;
    margin: 0px 200px 0px 200px;
    padding: 40px;
    text-align: center;
    display: block;
    justify-content: space-between;
    
}

#head {  
    background: hotpink;
    color: white;
    font-size: 12px;
    
  }


.loginBox {
    color: hotpink;
    padding: 20px;

}
button {
    background-color: hotpink;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
}

#submit :hover {
    
    background-color: white;
    color: hotpink;
    border-radius: 20px;
    border: 1px solid hotpink;
}

.footer {
    border: 2px solid black;
    background-color: hotpink;
    color: white;
    font-size: 12px;
    padding: 10px;
}